*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    display: grid;
    grid-template-areas:
    "desafio1"
    "desafio2"
    "desafio3";
    grid-template-rows: auto auto auto;
    min-height: 100vh;
}

.desafio1 {
    display: grid;
    place-items: center;
    padding: 10px;
}
.desafio1 img{
    width: 500px;
}

/* desafio 2 */
.desafio2 img{
    width: 250px;
    height: 250px;
}
.desafio2{
    display: grid;
    place-items: center;
    padding: 10px;
}
.desafio2 .gifs{
    display: flex;
}
.desafio2 .gifs .gif{
    display: flex;
    flex-direction: column;
}
.desafio2 .gifs .gif input{
    margin-left: 50px;
    width: 150px;
}
.desafio2 p{
    padding: 15px;
}
.desafio2 button{
    font-size: 20px;
    border-radius: 5px;
}
/* desafio 3 */

.desafio3{
    display: grid;
    place-items: center;
    height: 350px;
}
.desafio3 .box{
    display: grid;
    place-items: center;
    height: 250px;
    border: solid 1px black;
    width: 350px;
}
.desafio3 .box input{
    width: 50px;
}
.desafio3 .box button{
    font-size: 20px;
    border-radius: 5px;
}